name: Auto Assign

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  issues:
    types:
      - opened
      - reopened
  pull_request:
    types:
      - opened
      - reopened

permissions:
  issues: write
  pull-requests: write
  repository-projects: read

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  assign:
    runs-on: ubuntu-latest

    steps:
    - name: Assign Issue
      if: github.event_name == 'issues' && toJSON(github.event.issue.assignees) == '[]'
      run: gh issue edit ${{ github.event.issue.number }} --add-assignee JamBalaya56562 --repo ${{ github.repository }}

    - name: Assign Pull Request
      if: github.event_name == 'pull_request' && toJSON(github.event.pull_request.assignees) == '[]'
      run: gh pr edit ${{ github.event.number }} --add-assignee JamBalaya56562 --repo ${{ github.repository }}
